/* Styles pour la modale */

.customModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 400px;
    z-index: 1000;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Animation à l'ouverture de la modale */
.ReactModal__Content--after-open {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/* Animation à la fermeture de la modale */
.ReactModal__Content--before-close {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}

/* Styles pour le bouton */

.customModal button {
    padding: 0.5rem 1rem;
    background-color: #002905;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.customModal h2 {
    margin-top: 20px;
}

.customModal button:hover {
    background-color: #005d1a;
}

/* Styles pour l'overlay */

.customOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    /* Initialisation avec une opacité complète */
    opacity: 1;
    /* Transition pour l'animation */
    transition: opacity 0.3s ease;
}

/* Animation à l'ouverture de l'overlay */
.ReactModal__Overlay--after-open {
    opacity: 1;
}

/* Animation à la fermeture de l'overlay */
.ReactModal__Overlay--before-close {
    opacity: 0;
}